.book-container {
  display: flex;
  width: 55%;
  background-color: var(--bg-color);
  padding: 1.5rem;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 16px;
  margin: 0 auto;

  .book_container__book_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    font-size: 20px;

    span {
      display: flex;
      gap: 0.5rem;
      strong {
        color: var(--primary);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .book-container {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .book-container {
    flex-direction: column;
    gap: 2rem;
  }
  .book-container__book_image {
    margin: 0 auto;
  }
}
