.book-container {
  display: flex;
  width: 70%;
  background-color: var(--bg-color);
  padding: 1.5rem;
  justify-content: space-between;
  border-radius: 16px;
  margin: 0 auto;

  .book_container__book_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    font-size: 20px;

    span {
      display: flex;
      gap: 0.5rem;
      strong {
        color: var(--primary);
      }
    }
  }
}
