.redirect__button {
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  color: var(--grey);
  font-size: 20px;
  line-height: 1.75rem;
  font-weight: 600;
  transition: all 0.3s ease;
  text-decoration: none;

  &:hover {
    background-color: var(--secondary);
  }
}
